
<h4><%= @user.name %>がフォローしている人一覧</h4>
<% @followed.each do |followed| %>
  <div>
    <%= profile_img(followed) %>
    <%= followed.name %>
    <br>
  </div>
<% end %>
<br>
<br>

<h4><%= @user.name %>をフォローしている人一覧</h4>
<% @followers.each do |follower| %>
  <div>
  <%= profile_img(follower) %>
  <%= follower.name %>
  <br>
  </div>
<% end %>
