
<h4><%= @user.name %>がフォローしている人一覧</h4>
<% @followed.each do |followed| %>
  <%= profile_img(followed) %>
  <%= followed.name %>
  <br>
<% end %>
<br>
<br>

<h4><%= @user.name %>をフォローしている人一覧</h4>
<% @followers.each do |follower| %>
  <%= profile_img(follower) %>
  <%= follower.name %>
  <br>
<% end %>
